<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.pytorch.demo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_huggingface"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_huggingface_round"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" />
        <activity android:name=".nlp.EnglishNLPListActivity" />
        <activity android:name=".nlp.IMDBPytorchActivity" />
        <activity android:name=".nlp.IMDBTensorflowActivity" />
        <activity android:name=".nlp.KoreanNLPListActivity" />
        <activity android:name=".nlp.NSMCPytorchActivity" />
        <activity android:name=".nlp.NSMCTensorflowActivity" />

    </application>

</manifest>